*./Airflow-docker/Dockerfile linguist-vendored
*./Airflow-docker/logs/scheduler/latest linguist-vendored
*.1 linguist-vendored
*.cfg linguist-vendored
*.csv linguist-vendored
*.env linguist-vendored
*.git* linguist-vendored
*.gitattributes linguist-vendored
*.gitignore linguist-vendored
*.jpg linguist-vendored
*.log linguist-vendored
*.md linguist-vendored
*.pdf linguist-vendored
*.png linguist-vendored
*.pyc linguist-vendored
*.sample linguist-vendored
*.sh linguist-vendored
*.txt linguist-vendored
*.yaml linguist-vendored

*.py linguist-language=Pyth on
*.ipynb linguist-language=Python
*.pbix linguist-language=Power BI
*.sql linguist-language=PostgreSQL
